<link href="./static/cruelty.css" rel="stylesheet" />

<div class="cruelty-container">
  <div class="cruelty-container1">
    <form class="cruelty-form sub-form teleport-show">
      <h1 class="cruelty-text">CRUELTY SECTION</h1>
      <h2 class="cruelty-text1">Petitioner was ill treated since: *</h2>
      <input
        type="text"
        name="__15__"
        placeholder="Facing issues since?"
        class="cruelty-textinput5 input"
        required
      />
      <h2 class="cruelty-text2">When was the petitioner attacked?: *</h2>
      <input
        type="text"
        name="__16__"
        placeholder="Attacked on?"
        class="cruelty-textinput4 input"
        required
      />
      <h2 class="cruelty-text3">Police Station of lodged complaint *</h2>
      <input
        type="text"
        name="__17__"
        placeholder="PS that registered complaint"
        class="cruelty-textinput3 input"
        required
      />
      <h2 class="cruelty-text4">Name of doctor</h2>
      <input
        type="text"
        name="__18__"
        placeholder="Doctor Name"
        class="cruelty-textinput2 input"
      />
      <h2 class="cruelty-text5">Name of hospital</h2>
      <input
        type="text"
        name="__19__"
        placeholder="Hospital name"
        class="cruelty-textinput input"
      />
      <button type="submit" id="generateButton" autofocus="" style="padding: 20px; margin: 0 auto 20px; background-color: orange;">Generate PDF</button>
    </form>
  </div>
</div>