      <!-- <link href="./static/mutual.css" rel="stylesheet" />

      <div class="mutual-container">
        <div class="mutual-container1">
          <form class="mutual-form sub-form teleport-show">
            <h1 class="mutual-text">MUTUAL SECTION</h1>
            <h2 class="mutual-text1">Time of separation *</h2>
            <h2 class="mutual-text2">Any pending divorce case? *</h2>
            <h2 class="mutual-text3">Mutual Consent(By husband/By wife) *</h2>
            <h2 class="mutual-text4">Settled Claims(Yes/No) *</h2>
            <h2 class="mutual-text5">Alimony *</h2>
            <h2 class="mutual-text6">Dues *</h2>
            <input
              type="text"
              placeholder="placeholder"
              class="mutual-textinput input"
              required
            />
            <input
              type="text"
              placeholder="placeholder"
              class="mutual-textinput1 input"
              required
            />
            <input
              type="text"
              placeholder="placeholder"
              class="mutual-textinput2 input"
              required
            />
            <input
              type="text"
              placeholder="placeholder"
              class="mutual-textinput3 input"
              required
            />
            <input
              type="text"
              placeholder="placeholder"
              class="mutual-textinput4 input"
              required
            />
            <input
              type="text"
              placeholder="placeholder"
              class="mutual-textinput5 input"
              required
            />   
            <button type="submit" id="generateButton" autofocus="" style="padding: 20px; margin: 0 auto 20px; background-color: orange;">Generate PDF</button>
          </form>
        </div>
      </div> -->


      <link href="./static/mutual.css" rel="stylesheet" />

      <div class="mutual-container">
        <div class="mutual-container1">
          <form class="mutual-form sub-form teleport-show">
            <h1 class="mutual-text">MUTUAL SECTION</h1>

            <h2 class="mutual-text1">Time of separation *</h2>
            <input
              name="__14__"
              type="text"
              placeholder="seperated since"
              class="mutual-textinput5 input"
            required />

            <h2 class="mutual-text2">Any pending divorce case? *</h2>
            <input
              name="__16__"
              type="text"
              placeholder="pending divorce cases"
              class="mutual-textinput4 input"
            required />

            <h2 class="mutual-text3">Mutual Consent(By husband/By wife) *</h2>
            <input
              type="text"
              name="__18__"
              placeholder="consented by"
              class="mutual-textinput3 input"
            required />

            <h2 class="mutual-text4">Settled Claims(Yes/No) *</h2>
            <input
              type="text"
              name="__19__"
              placeholder="settled claims?"
              class="mutual-textinput2 input"
            required />

            <h2 class="mutual-text6">Dues *</h2>
            <input
              name="__21__"
              type="text"
              placeholder="placeholder"
              class="mutual-textinput1 input"
            required />
            
            
            
            <!-- <button type="submit" autofocus="" class="mutual-button button">
              Submit
            </button>       -->
            <button id="generateButton" style="padding: 20px; margin: 0 auto 20px; background-color: orange;">Generate PDF</button>
          </form>
        </div>
      </div>